<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Javascript Emblem</title>
  <link rel="stylesheet" href="../public/css/style.css" />
</head>

<body>
  <div class="contentBox">

    <div class="header">
      <h1>Javascript Emblem</h1>
      <div class="topnav">
        <a class="active" href="/battle">Battle Simulator</a>
        <a href="/creator">Unit Creator</a>
        <a href="/info">Information</a>
        <div class="topnav-right">
          <a href="/login">User Login</a>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="column blueUnit">
          <h2>Blue Unit</h2>
        <select class="unitSelect" id="blueUnit" name="blueName">
            <option value="volvo">Select Unit</option>
        </select>
        <br><br>
          <table>
            <tr>
              <th><label for="blueClass">Class:</label></th>
              <th><input class="unitText" type="text" id="blueClass" name="blueClass" disabled></th>
            </tr>
            <tr>
              <th><label for="blueClassType">Class Type:</label></th>
              <th><input class="unitText" type="text" id="blueClassType" name="blueClassType" disabled></th>
            </tr>
            <tr>
              <th><label for="blueWeapon">Weapon:</label></th>
              <th><input class="unitText" type="text" id="blueWeapon" name="blueWeapon" disabled></th>
            </tr>
            <tr>
              <th><label for="blueSkills">Skills(WIP):</label></th>
              <th><input class="unitText" type="text" id="blueSkills" name="blueSkills" disabled></th>
            </tr>
          </table>
          <br>
          <table>
            <tr>
              <th><label for="blueMaxhp">Max HP:</label></th>
              <th><input class="unitStat" type="number" id="blueMaxhp" name="blueMaxhp" disabled></th>
            </tr>
            <tr>
              <th><label for="blueStr">Strength:</label></th>
              <th><input class="unitStat" type="number" id="blueStr" name="blueStr" disabled></th>
            </tr>
            <tr>
              <th><label for="blueMag">Magic:</label></th>
              <th><input class="unitStat" type="number" id="blueMag" name="blueMag" disabled></th>
            </tr>
            <tr>
              <th><label for="blueSkl">Skill:</label></th>
              <th><input class="unitStat" type="number" id="blueSkl" name="blueSkl" disabled></th>
            </tr>
            <tr>
              <th><label for="blueLck">Luck:</label></th>
              <th><input class="unitStat" type="number" id="blueLck" name="blueLck" disabled></th>
            </tr>
            <tr>
              <th><label for="blueDef">Defence:</label></th>
              <th><input class="unitStat" type="number" id="blueDef" name="blueDef" disabled></th>
            </tr>
            <tr>
              <th><label for="blueRes">Resistance:</label></th>
              <th><input class="unitStat" type="number" id="blueRes" name="blueRes" disabled></th>
            </tr>
          </table>

      </div>
      <div class="column middle">
        <div class="battleDisplay">
          <div class="row">
            <div class="column blueDisplay">
              <table>
                <tr>
                  <th><label for="bluehp">HP:</label></th>
                  <th><input class="unitStat" type="text" id="bluehp" name="bluehp" disabled></th>
                </tr>
                <tr>
                  <th><label for="blueHit">Hit:</label></th>
                  <th><input class="unitStat" type="text" id="blueHit" name="blueHit" disabled></th>
                </tr>
                <tr>
                  <th><label for="blueMt">Damage:</label></th>
                  <th><input class="unitStat" type="text" id="blueMt" name="blueMt" disabled></th>
                </tr>
                              <tr>
                  <th><label for="blueCrt">Critical:</label></th>
                  <th><input class="unitStat" type="text" id="blueCrt" name="blueCrt" disabled></th>
                </tr>
              </table>
            </div>
            <div class="column middleDisplay"></div>
            <div class="column redDisplay">
              <table>
                  <tr>
                    <th><label for="redhp">HP:</label></th>
                    <th><input class="unitStat" type="text" id="redhp" name="redhp" disabled></th>
                  </tr>
                  <tr>
                    <th><label for="redHit">Hit:</label></th>
                    <th><input class="unitStat" type="text" id="redHit" name="redHit" disabled></th>
                  </tr>
                  <tr>
                    <th><label for="redMt">Damage:</label></th>
                    <th><input class="unitStat" type="text" id="redMt" name="redMt" disabled></th>
                  </tr>
                                <tr>
                    <th><label for="redCrt">Critical:</label></th>
                    <th><input class="unitStat" type="text" id="redCrt" name="redCrt" disabled></th>
                  </tr>
                </table>
            </div>
          </div>
        </div>
        
        <div class="battleLogs">
          <textarea disabled></textarea>
        </div>
      </div>
      <div class="column redUnit">
        <form>
          <h2>Red Unit</h2>
          <select class="unitSelect" id="redUnit" name="redName">
            <option value="volvo">Select Unit</option>
          </select>
          <br><br>
          <table>
            <tr>
              <th><label for="redClass">Class:</label></th>
              <th><input class="unitText" type="text" id="redClass" name="redClass" disabled></th>
            </tr>
            <tr>
              <th><label for="redClassType">Class Type:</label></th>
              <th><input class="unitText" type="text" id="redClassType" name="redClassType" disabled></th>
            </tr>
            <tr>
              <th><label for="redWeapon">Weapon:</label></th>
              <th><input class="unitText" type="text" id="redWeapon" name="redWeapon" disabled></th>
            </tr>
            <tr>
              <th><label for="redSkills">Skills(WIP):</label></th>
              <th><input class="unitText" type="text" id="redSkills" name="redSkills" disabled></th>
            </tr>
          </table>
          <br>
          <table>
            <tr>
              <th><label for="redMaxhp">Max HP:</label></th>
              <th><input class="unitStat" type="number" id="redMaxhp" name="redMaxhp" disabled></th>
            </tr>
            <tr>
              <th><label for="redStr">Strength:</label></th>
              <th><input class="unitStat" type="number" id="redStr" name="redStr" disabled></th>
            </tr>
            <tr>
              <th><label for="redMag">Magic:</label></th>
              <th><input class="unitStat" type="number" id="redMag" name="redMag" disabled></th>
            </tr>
            <tr>
              <th><label for="redSkl">Skill:</label></th>
              <th><input class="unitStat" type="number" id="redSkl" name="redSkl" disabled></th>
            </tr>
            <tr>
              <th><label for="redLck">Luck:</label></th>
              <th><input class="unitStat" type="number" id="redLck" name="redLck" disabled></th>
            </tr>
            <tr>
              <th><label for="redDef">Defence:</label></th>
              <th><input class="unitStat" type="number" id="redDef" name="redDef" disabled></th>
            </tr>
            <tr>
              <th><label for="redRes">Resistance:</label></th>
              <th><input class="unitStat" type="number" id="redRes" name="redRes" disabled></th>
            </tr>
          </table>
        </form>
      </div>
    </div>


  </div>
</body>

</html>