<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Javascript Emblem</title>
  <link href="/public/css/style.css" rel="stylesheet">
</head>

<body>
  <div class="header">
    <h1>Javascript Emblem</h1>
      <div class="topnav">
        <a class="active" href="/battle">Battle Simulator</a>
        <a href="/creator">Unit Creator</a>
        <a href="/info">Information</a>
        <div class="topnav-right">
        <a href="/login">User Login</a>
      </div>
  </div>
  </div>

</body>

</html>