<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Javascript Emblem</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/googlebtn.css" />
</head>

<div class="contentBox">
    <div class="header">
      <h1>Javascript Emblem</h1>
      <div class="topnav">
        <a href="/battle">Battle Simulator</a>
        <a href="/creator">Unit Creator</a>
        <a href="/info">Information</a>
        <div class="topnav-right">
          <div class="topnav-right">
            <% if (loggedIn) { %>
              <a>Hello <%- userName %>!</a>
              <a href="/logout">Logout</a>
            <%} else { %>
              <a class="active" href="/login">User Login</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="loginBox">
        <h2>Login</h2>
        <a href="/auth/google">
        <div class="google-btn">
            <div class="google-icon-wrapper">
            <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
            </div>
            <p class="btn-text"><b>Sign in with Google</b></p>
        </div>
        </a>
    </div>
</div>